.icon {
	position: relative;
  width: 34px;
  height: 34px;
	overflow: hidden;
  border-radius: 50%;
  border: 3px solid #fff;
}
.icon::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
	transform: translate(-50%,0);
  height: 10px;
  width: 10px;
	border: 2px solid rgb(179, 179, 179);
	border-radius: 50%;
}
.icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%,0);
  height: 20px;
  width: 20px;
	border: 2px solid rgb(179, 179, 179);
	border-radius: 50%;
}
.icon:hover {
  box-shadow: 0 0 1px 12px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.icon:active {
	transform: scale(0.9);
}
