.App {
  text-align: center;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}
.table-description {
  margin-top: 120px;
  background-color: rgb(255, 255, 255);
}
.title {
  /* font-size: 40px; */
  font-weight: 300;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.project-title {
  font-size: 1.5em;
}
.button-plus {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.button-plus::after{
  content:'';
  position: absolute;
  top: 3px;
  left: 13px;
  height: 80%;
  width: 2px;
  background-color: rgb(179, 179, 179);
}
.button-plus::before{
  content:'';
  position: absolute;
  top: 13px;
  left: 2px;
  height: 2px;
  width: 83%;
  background-color: rgb(179, 179, 179);
}
.button-plus:hover{
  box-shadow: 0 0 1px 12px rgba(0, 0, 0, 0.1);
}
.button-plus:active{
  transform: scale(0.9);
}
.new-project-wrapper {
  max-width: 800px;
  min-height: 100px;
  margin: 0 auto;
  border: 3px solid #fff;
}
.project-name-input {
  padding: 0 15px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
}
/* .header__form {

} */
.login-form {
  display: flex;
  flex-wrap: wrap;
}
.login-form__input-box {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  text-align: left;
    
  /* display: flex;
  flex-direction: column; */
}
.login-form__lable {
  padding-left: 30px;
  font-size: 10px;
  display: block;
}
.login-form__input {
  background-color: transparent;
  outline: none;
  padding-left: 15px;
}