.button {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2px 5px;
  border: 3px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover .icon {
  color: #566c78;
}
.icon {
  color: #a8d1e7;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icon:hover {
  color: #566c78;
}